## Multiple Linear Regression

### Accessing the data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
ipl = pd.read_csv('https://raw.githubusercontent.com/Foridur3210/IPL-Dataset-Player-price-prediction/master/IPL%20IMB381IPL2013.csv')

In [3]:
ipl

,Sl.NO.,PLAYER NAME,AGE,COUNTRY,TEAM,PLAYING ROLE,T-RUNS,T-WKTS,ODI-RUNS-S,ODI-SR-B,...,SR-B,SIXERS,RUNS-C,WKTS,AVE-BL,ECON,SR-BL,AUCTION YEAR,BASE PRICE,SOLD PRICE
0,1,"Abdulla, YA",2,SA,KXIP,Allrounder,0,0,0,0.00,...,0.00,0,307,15,20.47,8.90,13.93,2009,50000,50000
1,2,Abdur Razzak,2,BAN,RCB,Bowler,214,18,657,71.41,...,0.00,0,29,0,0.00,14.50,0.00,2008,50000,50000
2,3,"Agarkar, AB",2,IND,KKR,Bowler,571,58,1269,80.62,...,121.01,5,1059,29,36.52,8.81,24.90,2008,200000,350000
3,4,"Ashwin, R",1,IND,CSK,Bowler,284,31,241,84.56,...,76.32,0,1125,49,22.96,6.23,22.14,2011,100000,850000
4,5,"Badrinath, S",2,IND,CSK,Batsman,63,0,79,45.93,...,120.71,28,0,0,0.00,0.00,0.00,2011,100000,800000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,126,"Yadav, AS",2,IND,DC,Batsman,0,0,0,0.00,...,125.64,2,0,0,0.00,0.00,0.00,2010,50000,750000
126,127,Younis Khan,2,PAK,RR,Batsman,6398,7,6814,75.78,...,42.85,0,0,0,0.00,0.00,0.00,2008,225000,225000
127,128,Yuvraj Singh,2,IND,KXIP+,Batsman,1775,9,8051,87.58,...,131.88,67,569,23,24.74,7.02,21.13,2011,400000,1800000
128,129,Zaheer Khan,2,IND,MI+,Bowler,1114,288,790,73.55,...,91.67,1,1783,65,27.43,7.75,21.26,2008,200000,450000
129,130,"Zoysa, DNT",2,SL,DC,Bowler,288,64,343,95.81,...,122.22,0,99,2,49.50,9.00,33.00,2008,100000,110000

In [4]:
ipl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 26 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Sl.NO.         130 non-null    int64
 1   PLAYER NAME    130 non-null    object
 2   AGE            130 non-null    int64
 3   COUNTRY        130 non-null    object
 4   TEAM           130 non-null    object
 5   PLAYING ROLE   130 non-null    object
 6   T-RUNS         130 non-null    int64
 7   T-WKTS         130 non-null    int64
 8   ODI-RUNS-S     130 non-null    int64
 9   ODI-SR-B       130 non-null    float64
 10  ODI-WKTS       130 non-null    int64
 11  ODI-SR-BL      130 non-null    float64
 12  CAPTAINCY EXP  130 non-null    int64
 13  RUNS-S         130 non-null    int64
 14  HS             130 non-null    int64
 15  AVE            130 non-null    float64
 16  SR-B           130 non-null    float64
 17  SIXERS         130 non-null    int64
 18  RUNS-C         130 non-null    int64
 19  WKTS           130 non-null    int64
 20  AVE-BL         130 non-null    float64
 21  ECON           130 non-null    float64
 22  SR-BL          130 non-null    float64
 23  AUCTION YEAR   130 non-null    int64
 24  BASE PRICE     130 non-null    int64
 25  SOLD PRICE     130 non-null    int64
dtypes: float64(7), int64(15), object(4)
memory usage: 26.5+ KB

### Data Preprocessing

In [5]:
ipl.iloc[0:10,0:15] #+ means now he is with the team mentioned but was with a different team earlier.

,Sl.NO.,PLAYER NAME,AGE,COUNTRY,TEAM,PLAYING ROLE,T-RUNS,T-WKTS,ODI-RUNS-S,ODI-SR-B,ODI-WKTS,ODI-SR-BL,CAPTAINCY EXP,RUNS-S,HS
0,1,"Abdulla, YA",2,SA,KXIP,Allrounder,0,0,0,0.00,0,0.0,0,0,0
1,2,Abdur Razzak,2,BAN,RCB,Bowler,214,18,657,71.41,185,37.6,0,0,0
2,3,"Agarkar, AB",2,IND,KKR,Bowler,571,58,1269,80.62,288,32.9,0,167,39
3,4,"Ashwin, R",1,IND,CSK,Bowler,284,31,241,84.56,51,36.8,0,58,11
4,5,"Badrinath, S",2,IND,CSK,Batsman,63,0,79,45.93,0,0.0,0,1317,71
5,6,"Bailey, GJ",2,AUS,CSK,Batsman,0,0,172,72.26,0,0.0,1,63,48
6,7,"Balaji, L",2,IND,CSK+,Bowler,51,27,120,78.94,34,42.5,0,26,15
7,8,"Bollinger, DE",2,AUS,CSK,Bowler,54,50,50,92.59,62,31.3,0,21,16
8,9,"Botha, J",2,SA,RR,Allrounder,83,17,609,85.77,72,53.0,1,335,67
9,10,"Boucher, MV",2,SA,RCB+,W. Keeper,5515,1,4686,84.76,0,0.0,1,394,50

In [6]:
ipl.iloc[0:10,15:]

,AVE,SR-B,SIXERS,RUNS-C,WKTS,AVE-BL,ECON,SR-BL,AUCTION YEAR,BASE PRICE,SOLD PRICE
0,0.00,0.00,0,307,15,20.47,8.90,13.93,2009,50000,50000
1,0.00,0.00,0,29,0,0.00,14.50,0.00,2008,50000,50000
2,18.56,121.01,5,1059,29,36.52,8.81,24.90,2008,200000,350000
3,5.80,76.32,0,1125,49,22.96,6.23,22.14,2011,100000,850000
4,32.93,120.71,28,0,0,0.00,0.00,0.00,2011,100000,800000
5,21.00,95.45,0,0,0,0.00,0.00,0.00,2009,50000,50000
6,4.33,72.22,1,1342,52,25.81,7.98,19.40,2011,100000,500000
7,21.00,165.88,1,693,37,18.73,7.22,15.57,2011,200000,700000
8,30.45,114.73,3,610,19,32.11,6.85,28.11,2011,200000,950000
9,28.14,127.51,13,0,0,0.00,0.00,0.00,2008,200000,450000

In [7]:
# Target

y = ipl['SOLD PRICE']
y

0        50000
1        50000
2       350000
3       850000
4       800000
        ...
125     750000
126     225000
127    1800000
128     450000
129     110000
Name: SOLD PRICE, Length: 130, dtype: int64

In [8]:
# Features

X = ipl.drop(['SOLD PRICE'], axis = 1)
X

,Sl.NO.,PLAYER NAME,AGE,COUNTRY,TEAM,PLAYING ROLE,T-RUNS,T-WKTS,ODI-RUNS-S,ODI-SR-B,...,AVE,SR-B,SIXERS,RUNS-C,WKTS,AVE-BL,ECON,SR-BL,AUCTION YEAR,BASE PRICE
0,1,"Abdulla, YA",2,SA,KXIP,Allrounder,0,0,0,0.00,...,0.00,0.00,0,307,15,20.47,8.90,13.93,2009,50000
1,2,Abdur Razzak,2,BAN,RCB,Bowler,214,18,657,71.41,...,0.00,0.00,0,29,0,0.00,14.50,0.00,2008,50000
2,3,"Agarkar, AB",2,IND,KKR,Bowler,571,58,1269,80.62,...,18.56,121.01,5,1059,29,36.52,8.81,24.90,2008,200000
3,4,"Ashwin, R",1,IND,CSK,Bowler,284,31,241,84.56,...,5.80,76.32,0,1125,49,22.96,6.23,22.14,2011,100000
4,5,"Badrinath, S",2,IND,CSK,Batsman,63,0,79,45.93,...,32.93,120.71,28,0,0,0.00,0.00,0.00,2011,100000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,126,"Yadav, AS",2,IND,DC,Batsman,0,0,0,0.00,...,9.80,125.64,2,0,0,0.00,0.00,0.00,2010,50000
126,127,Younis Khan,2,PAK,RR,Batsman,6398,7,6814,75.78,...,3.00,42.85,0,0,0,0.00,0.00,0.00,2008,225000
127,128,Yuvraj Singh,2,IND,KXIP+,Batsman,1775,9,8051,87.58,...,26.32,131.88,67,569,23,24.74,7.02,21.13,2011,400000
128,129,Zaheer Khan,2,IND,MI+,Bowler,1114,288,790,73.55,...,9.90,91.67,1,1783,65,27.43,7.75,21.26,2008,200000
129,130,"Zoysa, DNT",2,SL,DC,Bowler,288,64,343,95.81,...,11.00,122.22,0,99,2,49.50,9.00,33.00,2008,100000

We will be dropping the Player's name as it is a categorical value. Along with that we will be dropping the Sl No, Team.

In [9]:
# Drop irrelevant features

X_1 = X.drop(['Sl.NO.','PLAYER NAME', 'TEAM'],axis = 1)
X_1.head()

,AGE,COUNTRY,PLAYING ROLE,T-RUNS,T-WKTS,ODI-RUNS-S,ODI-SR-B,ODI-WKTS,ODI-SR-BL,CAPTAINCY EXP,...,AVE,SR-B,SIXERS,RUNS-C,WKTS,AVE-BL,ECON,SR-BL,AUCTION YEAR,BASE PRICE
0,2,SA,Allrounder,0,0,0,0.00,0,0.0,0,...,0.00,0.00,0,307,15,20.47,8.90,13.93,2009,50000
1,2,BAN,Bowler,214,18,657,71.41,185,37.6,0,...,0.00,0.00,0,29,0,0.00,14.50,0.00,2008,50000
2,2,IND,Bowler,571,58,1269,80.62,288,32.9,0,...,18.56,121.01,5,1059,29,36.52,8.81,24.90,2008,200000
3,1,IND,Bowler,284,31,241,84.56,51,36.8,0,...,5.80,76.32,0,1125,49,22.96,6.23,22.14,2011,100000
4,2,IND,Batsman,63,0,79,45.93,0,0.0,0,...,32.93,120.71,28,0,0,0.00,0.00,0.00,2011,100000

In [10]:
X_1['AGE'].unique()

array([2, 1, 3], dtype=int64)

In [11]:
X['COUNTRY'].unique()

array(['SA', 'BAN', 'IND', 'AUS', 'WI', 'SL', 'NZ', 'ENG', 'PAK', 'ZIM'],
      dtype=object)

In [12]:
X['PLAYING ROLE'].unique()

array(['Allrounder', 'Bowler', 'Batsman', 'W. Keeper'], dtype=object)

In [13]:
X['CAPTAINCY EXP'].unique()

array([0, 1], dtype=int64)

In [14]:
# Convert categorical to numerical using one hot encoding

X_1 = pd.get_dummies(X_1,columns = ['AGE', 'COUNTRY', 'PLAYING ROLE', 'CAPTAINCY EXP'])

In [15]:
X_1

,T-RUNS,T-WKTS,ODI-RUNS-S,ODI-SR-B,ODI-WKTS,ODI-SR-BL,RUNS-S,HS,AVE,SR-B,...,COUNTRY_SA,COUNTRY_SL,COUNTRY_WI,COUNTRY_ZIM,PLAYING ROLE_Allrounder,PLAYING ROLE_Batsman,PLAYING ROLE_Bowler,PLAYING ROLE_W. Keeper,CAPTAINCY EXP_0,CAPTAINCY EXP_1
0,0,0,0,0.00,0,0.0,0,0,0.00,0.00,...,1,0,0,0,1,0,0,0,1,0
1,214,18,657,71.41,185,37.6,0,0,0.00,0.00,...,0,0,0,0,0,0,1,0,1,0
2,571,58,1269,80.62,288,32.9,167,39,18.56,121.01,...,0,0,0,0,0,0,1,0,1,0
3,284,31,241,84.56,51,36.8,58,11,5.80,76.32,...,0,0,0,0,0,0,1,0,1,0
4,63,0,79,45.93,0,0.0,1317,71,32.93,120.71,...,0,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,0,0,0,0.00,0,0.0,49,16,9.80,125.64,...,0,0,0,0,0,1,0,0,1,0
126,6398,7,6814,75.78,3,86.6,3,3,3.00,42.85,...,0,0,0,0,0,1,0,0,0,1
127,1775,9,8051,87.58,109,44.3,1237,66,26.32,131.88,...,0,0,0,0,0,1,0,0,0,1
128,1114,288,790,73.55,278,35.4,99,23,9.90,91.67,...,0,0,0,0,0,0,1,0,1,0
129,288,64,343,95.81,108,39.4,11,10,11.00,122.22,...,0,1,0,0,0,0,1,0,1,0

In [16]:
X_1.iloc[0:10,0:15]

,T-RUNS,T-WKTS,ODI-RUNS-S,ODI-SR-B,ODI-WKTS,ODI-SR-BL,RUNS-S,HS,AVE,SR-B,SIXERS,RUNS-C,WKTS,AVE-BL,ECON
0,0,0,0,0.00,0,0.0,0,0,0.00,0.00,0,307,15,20.47,8.90
1,214,18,657,71.41,185,37.6,0,0,0.00,0.00,0,29,0,0.00,14.50
2,571,58,1269,80.62,288,32.9,167,39,18.56,121.01,5,1059,29,36.52,8.81
3,284,31,241,84.56,51,36.8,58,11,5.80,76.32,0,1125,49,22.96,6.23
4,63,0,79,45.93,0,0.0,1317,71,32.93,120.71,28,0,0,0.00,0.00
5,0,0,172,72.26,0,0.0,63,48,21.00,95.45,0,0,0,0.00,0.00
6,51,27,120,78.94,34,42.5,26,15,4.33,72.22,1,1342,52,25.81,7.98
7,54,50,50,92.59,62,31.3,21,16,21.00,165.88,1,693,37,18.73,7.22
8,83,17,609,85.77,72,53.0,335,67,30.45,114.73,3,610,19,32.11,6.85
9,5515,1,4686,84.76,0,0.0,394,50,28.14,127.51,13,0,0,0.00,0.00

In [17]:
X_1.iloc[0:10,15:]

,SR-BL,AUCTION YEAR,BASE PRICE,AGE_1,AGE_2,AGE_3,COUNTRY_AUS,COUNTRY_BAN,COUNTRY_ENG,COUNTRY_IND,...,COUNTRY_SA,COUNTRY_SL,COUNTRY_WI,COUNTRY_ZIM,PLAYING ROLE_Allrounder,PLAYING ROLE_Batsman,PLAYING ROLE_Bowler,PLAYING ROLE_W. Keeper,CAPTAINCY EXP_0,CAPTAINCY EXP_1
0,13.93,2009,50000,0,1,0,0,0,0,0,...,1,0,0,0,1,0,0,0,1,0
1,0.00,2008,50000,0,1,0,0,1,0,0,...,0,0,0,0,0,0,1,0,1,0
2,24.90,2008,200000,0,1,0,0,0,0,1,...,0,0,0,0,0,0,1,0,1,0
3,22.14,2011,100000,1,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,1,0
4,0.00,2011,100000,0,1,0,0,0,0,1,...,0,0,0,0,0,1,0,0,1,0
5,0.00,2009,50000,0,1,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,1
6,19.40,2011,100000,0,1,0,0,0,0,1,...,0,0,0,0,0,0,1,0,1,0
7,15.57,2011,200000,0,1,0,1,0,0,0,...,0,0,0,0,0,0,1,0,1,0
8,28.11,2011,200000,0,1,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,1
9,0.00,2008,200000,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,1

In [18]:
import statsmodels.api as sm
X_1 = sm.add_constant(X_1)
X_1

,const,T-RUNS,T-WKTS,ODI-RUNS-S,ODI-SR-B,ODI-WKTS,ODI-SR-BL,RUNS-S,HS,AVE,...,COUNTRY_SA,COUNTRY_SL,COUNTRY_WI,COUNTRY_ZIM,PLAYING ROLE_Allrounder,PLAYING ROLE_Batsman,PLAYING ROLE_Bowler,PLAYING ROLE_W. Keeper,CAPTAINCY EXP_0,CAPTAINCY EXP_1
0,1.0,0,0,0,0.00,0,0.0,0,0,0.00,...,1,0,0,0,1,0,0,0,1,0
1,1.0,214,18,657,71.41,185,37.6,0,0,0.00,...,0,0,0,0,0,0,1,0,1,0
2,1.0,571,58,1269,80.62,288,32.9,167,39,18.56,...,0,0,0,0,0,0,1,0,1,0
3,1.0,284,31,241,84.56,51,36.8,58,11,5.80,...,0,0,0,0,0,0,1,0,1,0
4,1.0,63,0,79,45.93,0,0.0,1317,71,32.93,...,0,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,1.0,0,0,0,0.00,0,0.0,49,16,9.80,...,0,0,0,0,0,1,0,0,1,0
126,1.0,6398,7,6814,75.78,3,86.6,3,3,3.00,...,0,0,0,0,0,1,0,0,0,1
127,1.0,1775,9,8051,87.58,109,44.3,1237,66,26.32,...,0,0,0,0,0,1,0,0,0,1
128,1.0,1114,288,790,73.55,278,35.4,99,23,9.90,...,0,0,0,0,0,0,1,0,1,0
129,1.0,288,64,343,95.81,108,39.4,11,10,11.00,...,0,1,0,0,0,0,1,0,1,0

In [19]:
X_1.shape

(130, 38)

### Splitting data to train and test

In [20]:
from sklearn.model_selection import train_test_split

X_train_1, X_test_1, y_train_1, y_test_1 = train_test_split(
X_1, y, test_size = 0.2, random_state = 10)

In [21]:
X_train_1.shape, X_test_1.shape, y_train_1.shape, y_test_1.shape

((104, 38), (26, 38), (104,), (26,))

In [22]:
X_train_1

,const,T-RUNS,T-WKTS,ODI-RUNS-S,ODI-SR-B,ODI-WKTS,ODI-SR-BL,RUNS-S,HS,AVE,...,COUNTRY_SA,COUNTRY_SL,COUNTRY_WI,COUNTRY_ZIM,PLAYING ROLE_Allrounder,PLAYING ROLE_Batsman,PLAYING ROLE_Bowler,PLAYING ROLE_W. Keeper,CAPTAINCY EXP_0,CAPTAINCY EXP_1
19,1.0,654,11,2536,84.00,25,47.6,978,74,36.22,...,1,0,0,0,0,1,0,0,1,0
14,1.0,0,0,69,56.09,0,0.0,1540,95,31.43,...,0,0,0,0,0,1,0,0,1,0
91,1.0,9382,0,10472,75.75,0,0.0,1567,94,27.98,...,0,1,0,0,0,0,0,1,0,1
35,1.0,503,0,575,87.51,1,66.0,1006,73,31.44,...,0,0,0,0,0,1,0,0,1,0
20,1.0,380,157,73,45.62,60,35.6,4,3,4.00,...,0,0,1,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,1.0,392,43,5,27.77,19,40.1,186,31,10.94,...,0,0,0,0,0,0,1,0,1,0
15,1.0,3509,0,6773,88.19,1,12.0,1782,70,37.13,...,0,0,0,0,0,0,0,1,0,1
100,1.0,537,1,1587,70.40,1,42.0,40,23,20.00,...,0,1,0,0,0,1,0,0,1,0
125,1.0,0,0,0,0.00,0,0.0,49,16,9.80,...,0,0,0,0,0,1,0,0,1,0
9,1.0,5515,1,4686,84.76,0,0.0,394,50,28.14,...,1,0,0,0,0,0,0,1,0,1

In [23]:
X_test_1

,const,T-RUNS,T-WKTS,ODI-RUNS-S,ODI-SR-B,ODI-WKTS,ODI-SR-BL,RUNS-S,HS,AVE,...,COUNTRY_SA,COUNTRY_SL,COUNTRY_WI,COUNTRY_ZIM,PLAYING ROLE_Allrounder,PLAYING ROLE_Batsman,PLAYING ROLE_Bowler,PLAYING ROLE_W. Keeper,CAPTAINCY EXP_0,CAPTAINCY EXP_1
105,1.0,281,87,44,36.36,75,33.0,33,15,11.00,...,0,0,0,0,0,0,1,0,1,0
96,1.0,0,0,35,116.66,1,150.0,36,16,9.00,...,0,0,0,0,1,0,0,0,1,0
41,1.0,6973,98,13430,91.21,323,46.0,768,114,27.43,...,0,1,0,0,1,0,0,0,0,1
128,1.0,1114,288,790,73.55,278,35.4,99,23,9.90,...,0,0,0,0,0,0,1,0,1,0
116,1.0,0,0,786,91.92,0,0.0,1538,69,26.98,...,0,0,0,0,0,1,0,0,1,0
59,1.0,1219,7,1447,82.59,42,43.0,376,65,25.07,...,0,1,0,0,1,0,0,0,1,0
53,1.0,16,16,73,58.87,100,34.8,8,8,4.00,...,1,0,0,0,0,0,1,0,1,0
63,1.0,2173,0,2763,75.10,0,0.0,117,47,16.71,...,0,0,0,0,0,1,0,0,0,1
45,1.0,2648,0,2924,84.31,0,0.0,128,53,25.60,...,0,0,0,0,0,0,0,1,1,0
39,1.0,0,0,860,78.61,57,46.2,904,48,23.18,...,0,0,0,0,1,0,0,0,1,0
2,1.0,571,58,1269,80.62,288,32.9,167,39,18.56,...,0,0,0,0,0,0,1,0,1,0
47,1.0,1000,0,1008,74.50,0,0.0,1231,69,24.14,...,0,0,0,0,0,0,0,1,1,0
121,1.0,11,1,43,43.87,28,35.3,217,25,9.43,...,0,0,0,0,0,0,1,0,1,0
52,1.0,2506,619,938,61.06,337,43.0,35,8,11.67,...,0,0,0,0,0,0,1,0,0,1
38,1.0,5708,7,5262,86.97,2,117.0,958,116,39.92,...,0,0,0,0,0,1,0,0,0,1
1,1.0,214,18,657,71.41,185,37.6,0,0,0.00,...,0,0,0,0,0,0,1,0,1,0
84,1.0,3781,421,3519,86.69,393,39.9,147,33,18.37,...,1,0,0,0,1,0,0,0,0,1
56,1.0,556,25,1042,84.44,133,33.3,177,39,17.70,...,0,1,0,0,1,0,0,0,1,0
10,1.0,2200,86,2004,81.39,142,34.1,839,70,27.97,...,0,0,1,0,1,0,0,0,1,0
58,1.0,0,0,245,95.33,13,63.2,74,27,8.22,...,0,0,0,0,1,0,0,0,1,0
83,1.0,6654,5,4184,86.76,7,57.1,634,103,42.27,...,0,0,0,0,0,1,0,0,0,1
102,1.0,320,7,925,97.26,56,44.8,439,87,25.82,...,0,0,1,0,1,0,0,0,1,0
43,1.0,624,0,2753,72.03,0,0.0,259,34,14.39,...,0,0,0,0,0,1,0,0,1,0
70,1.0,0,0,1,50.00,1,42.0,4,3,4.00,...,0,0,0,0,0,0,1,0,1,0
26,1.0,6373,72,8087,83.95,156,44.4,1804,128,50.11,...,0,0,1,0,1,0,0,0,0,1
48,1.0,88,24,126,70.78,37,51.5,111,21,18.50,...,0,0,0,0,0,0,1,0,1,0

### Building the model

In [24]:
mlr_1 = sm.OLS(y_train_1, X_train_1)

In [25]:
mlr_1 = mlr_1.fit()

In [26]:
mlr_1.params

const                     -4.030794e+07
T-RUNS                    -3.642910e+01
T-WKTS                    -7.924946e+02
ODI-RUNS-S                 1.524333e+01
ODI-SR-B                  -1.061064e+03
ODI-WKTS                   1.649076e+03
ODI-SR-BL                 -1.044786e+03
RUNS-S                     1.805545e+02
HS                        -2.881482e+03
AVE                        5.848201e+03
SR-B                      -6.373365e+01
SIXERS                     3.016505e+03
RUNS-C                     1.745518e+02
WKTS                      -1.364873e+03
AVE-BL                     1.169297e+04
ECON                      -3.327271e+03
SR-BL                     -1.669414e+04
AUCTION YEAR               4.406899e+04
BASE PRICE                 1.888119e+00
AGE_1                     -1.329211e+07
AGE_2                     -1.347979e+07
AGE_3                     -1.353603e+07
COUNTRY_AUS               -4.453859e+06
COUNTRY_BAN                1.686448e-07
COUNTRY_ENG               -4.916729e+06
COUNTRY_IND               -4.303342e+06
COUNTRY_NZ                -4.374145e+06
COUNTRY_PAK               -4.496219e+06
COUNTRY_SA                -4.395567e+06
COUNTRY_SL                -4.486193e+06
COUNTRY_WI                -4.386283e+06
COUNTRY_ZIM               -4.495603e+06
PLAYING ROLE_Allrounder   -1.005057e+07
PLAYING ROLE_Batsman      -1.001859e+07
PLAYING ROLE_Bowler       -1.009737e+07
PLAYING ROLE_W. Keeper    -1.014141e+07
CAPTAINCY EXP_0           -2.023362e+07
CAPTAINCY EXP_1           -2.007432e+07
dtype: float64

### Diagnosing the model

In [27]:
mlr_1.summary2()

<class 'statsmodels.iolib.summary2.Summary'>
"""
                                Results: Ordinary least squares
===============================================================================================
Model:                        OLS                       Adj. R-squared:              0.503
Dependent Variable:           SOLD PRICE                AIC:                         2941.3368
Date:                         2022-11-10 21:05          BIC:                         3028.6017
No. Observations:             104                       Log-Likelihood:              -1437.7
Df Model:                     32                        F-statistic:                 4.257
Df Residuals:                 71                        Prob (F-statistic):          1.92e-07
R-squared:                    0.657                     Scale:                       8.7185e+10
-----------------------------------------------------------------------------------------------
                            Coef.         Std.Err.      t    P>|t|      [0.025        0.975]
-----------------------------------------------------------------------------------------------
const                   -40307940.4400 24745537.1103 -1.6289 0.1078 -89649140.0348 9033259.1547
T-RUNS                        -36.4291       26.8420 -1.3572 0.1790       -89.9505      17.0923
T-WKTS                       -792.4946      566.6974 -1.3984 0.1663     -1922.4571     337.4678
ODI-RUNS-S                     15.2433       28.6606  0.5319 0.5965       -41.9042      72.3909
ODI-SR-B                    -1061.0636     1450.3045 -0.7316 0.4668     -3952.8887    1830.7615
ODI-WKTS                     1649.0764      742.0599  2.2223 0.0295       169.4510    3128.7018
ODI-SR-BL                   -1044.7855     1686.6499 -0.6194 0.5376     -4407.8700    2318.2989
RUNS-S                        180.5545      163.9192  1.1015 0.2744      -146.2911     507.4002
HS                          -2881.4824     2458.9831 -1.1718 0.2452     -7784.5555    2021.5907
AVE                          5848.2011     7729.2484  0.7566 0.4518     -9563.4826   21259.8847
SR-B                          -63.7337     1172.4877 -0.0544 0.9568     -2401.6078    2274.1405
SIXERS                       3016.5046     3549.7471  0.8498 0.3983     -4061.4900   10094.4993
RUNS-C                        174.5518      249.3836  0.6999 0.4863      -322.7049     671.8085
WKTS                        -1364.8732     6016.5118 -0.2269 0.8212    -13361.4571   10631.7107
AVE-BL                      11692.9681     9725.7685  1.2023 0.2333     -7699.6634   31085.5997
ECON                        -3327.2705     9459.2777 -0.3517 0.7261    -22188.5345   15533.9935
SR-BL                      -16694.1377    13373.3174 -1.2483 0.2160    -43359.7753    9971.4998
AUCTION YEAR                44068.9944    27027.4095  1.6305 0.1074     -9822.1295   97960.1184
BASE PRICE                      1.8881        0.5338  3.5374 0.0007         0.8238       2.9524
AGE_1                   -13292113.4463  8254614.0242 -1.6103 0.1118 -29751346.3305 3167119.4379
AGE_2                   -13479794.7955  8248893.0973 -1.6341 0.1067 -29927620.4756 2968030.8845
AGE_3                   -13536032.1983  8242925.8285 -1.6421 0.1050 -29971959.4823 2899895.0856
COUNTRY_AUS              -4453859.3422  2771303.9943 -1.6071 0.1125  -9979682.5608 1071963.8765
COUNTRY_BAN                     0.0000        0.0000  1.6290 0.1077        -0.0000       0.0000
COUNTRY_ENG              -4916729.2460  2814659.3130 -1.7468 0.0850 -10529000.5147  695542.0227
COUNTRY_IND              -4303342.3002  2779116.7278 -1.5485 0.1260  -9844743.6670 1238059.0666
COUNTRY_NZ               -4374144.6050  2745138.4899 -1.5934 0.1155  -9847795.2896 1099506.0797
COUNTRY_PAK              -4496219.2540  2721433.5914 -1.6522 0.1029  -9922603.7136  930165.2056
COUNTRY_SA               -4395566.9042  2763070.5940 -1.5908 0.1161  -9904973.1888 1113839.3804
COUNTRY_SL               -4486192.5923  2731080.1550 -1.6426 0.1049  -9931811.7532  959426.5687
COUNTRY_WI               -4386283.1883  2747032.4467 -1.5967 0.1148  -9863710.3155 1091143.9390
COUNTRY_ZIM              -4495603.0080  2750548.5599 -1.6344 0.1066  -9980041.0658  988835.0497
PLAYING ROLE_Allrounder -10050574.3279  6186416.1335 -1.6246 0.1087 -22385937.7454 2284789.0897
PLAYING ROLE_Batsman    -10018590.2739  6186804.6479 -1.6193 0.1098 -22354728.3671 2317547.8194
PLAYING ROLE_Bowler     -10097368.6338  6199035.9371 -1.6289 0.1078 -22457895.2251 2263157.9574
PLAYING ROLE_W. Keeper  -10141407.2046  6176128.9522 -1.6420 0.1050 -22456258.5652 2173444.1561
CAPTAINCY EXP_0         -20233623.0183 12374362.3734 -1.6351 0.1064 -44907400.7990 4440154.7624
CAPTAINCY EXP_1         -20074317.4219 12371417.5760 -1.6226 0.1091 -44742223.4433 4593588.5995
-----------------------------------------------------------------------------------------------
Omnibus:                     11.448             Durbin-Watson:                2.154
Prob(Omnibus):               0.003              Jarque-Bera (JB):             12.071
Skew:                        0.705              Prob(JB):                     0.002
Kurtosis:                    3.893              Condition No.:                11985550242486654
===============================================================================================
* The condition number is large (1e+16). This might indicate             strong
multicollinearity or other numerical problems.
"""

Note - Only ODI_WKTS and BASE PRICE are relevant features.

Assumption - All the features for Multiple Linear Regression has to be independent. Since, the features are not independent, the statistics achieved is affected.

### Multicollinearity

VIF = Variance Inflation Factor (1 - (1/R^2))

In [28]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [29]:
def var_inf_factor(data):
    vif = pd.DataFrame()
    vif['Feature'] = data.columns
    vif['VIF_Value'] = [variance_inflation_factor(data.values, i) for i in range(data.shape[1])]
    print (vif)

In [30]:
var_inf_factor(X_1)

                    Feature  VIF_Value
0                     const   0.000000
1                    T-RUNS   9.233542
2                    T-WKTS   6.522453
3                ODI-RUNS-S  11.067128
4                  ODI-SR-B   1.703841
5                  ODI-WKTS   7.048664
6                 ODI-SR-BL   1.707550
7                    RUNS-S   9.948044
8                        HS   8.602278
9                       AVE   7.467939
10                     SR-B   2.293498
11                   SIXERS   6.425581
12                   RUNS-C  22.310115
13                     WKTS  20.896087
14                   AVE-BL  45.182628
15                     ECON   2.981483
16                    SR-BL  45.596075
17             AUCTION YEAR   1.508571
18               BASE PRICE   3.347050
19                    AGE_1        inf
20                    AGE_2        inf
21                    AGE_3        inf
22              COUNTRY_AUS        inf
23              COUNTRY_BAN        inf
24              COUNTRY_ENG        inf
25              COUNTRY_IND        inf
26               COUNTRY_NZ        inf
27              COUNTRY_PAK        inf
28               COUNTRY_SA        inf
29               COUNTRY_SL        inf
30               COUNTRY_WI        inf
31              COUNTRY_ZIM        inf
32  PLAYING ROLE_Allrounder        inf
33     PLAYING ROLE_Batsman        inf
34      PLAYING ROLE_Bowler        inf
35   PLAYING ROLE_W. Keeper        inf
36          CAPTAINCY EXP_0        inf
37          CAPTAINCY EXP_1        inf

D:\Coding\lib\site-packages\statsmodels\regression\linear_model.py:1736: RuntimeWarning: divide by zero encountered in double_scalars
  return 1 - self.ssr/self.centered_tss
D:\Coding\lib\site-packages\statsmodels\stats\outliers_influence.py:195: RuntimeWarning: divide by zero encountered in double_scalars
  vif = 1. / (1. - r_squared_i)

In [ ]:
plt.figure(figsize = (25, 25));
sns.heatmap(X_1.corr(), annot = True); # Correlation value gets displayed via annot

Noted: 

1. T-RUNS <==> ODI-RUNS-S (T-RUNS is influenced by ODI-RUNS-S). So we can take either T-RUNS or ODI-RUNS-S.
2. T-WKTS <==> ODI-WKTS
3. ODI-RUNS-S <==> CAPTAINCY EXP_1